/* Print Styles */
@page {
	margin: 0.75cm;
}
body {
	font-size: 12pt;
	line-height: 1.3;
	background: #fff !important;
	color: #000;
}
.navbar {
display: none;
}
.header {
    padding: 2rem 1rem 0 1rem;
}
.col-lg-3,
.toc {
	display: none;
}
.col-lg-9 {
	width: 100%;
}
main,
main .container {
	max-width: 100%;
	width: 100%;
	position: relative;
}
a[href^="https://"]:after {
	content: " (" attr(href) ")";
	font-size: 90%;
}
a { 
	text-decoration: none; 
	color: inherit; 
}
table tbody tr td,
table thead tr th,
button,
ul li,
span,
ol li,
p,
a {
	font-size: 12pt !important;
}
h1 {
	font-size: 18pt;
}
h2, h3, h4 {
	font-size: 14pt;
	margin-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
	page-break-after:avoid;
     page-break-inside:avoid
     }
img {
	page-break-inside:avoid;
    page-break-after:avoid;
    }


table, pre {
	page-break-inside:avoid
	}
thead tr th.class,
thead tr th.property,
thead tr th.class a,
thead tr th.property a,
tbody tr td.class a,
tbody tr td.property a {
    color: #000000 !important;
}
thead tr th.property,
tbody tr td.property,
table tbody tr td.property,
table tbody tr td.class,
table tbody tr {
	background-color: #FFFFFF !important;
}
table,
table thead,
table tbody {
	page-break-inside: avoid !important;
}
.print-avoid {
	margin: 4px 0 4px 0;
    page-break-inside: avoid !important;
}

